.paper-bc{
  width: 10rem;
  height: 3rem;
  border-radius: .3rem;
  border: 1px solid #cecece;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  position: relative;
  overflow: hidden;
}
.paper-bc *{
  pointer-events: none;
  user-select: none;
}
.paper-bc .paper-bb{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  /* transition: all 0.7s linear; */
  background: #999;
  opacity: .3;
  border-radius: 50%;
  animation: paper .5s linear 0s;
  display: block;
}

@keyframes paper {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(300);
  }
}